@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

// Global Color
$color-main: #d1132a;
$color-white: #ffffff;
$color-black: #181414;
$color-gray: #f5f5f5;
$color-border: #bdbdbd;

// Font Family
$font-family: "Nunito",
sans-serif;

// Font Weight
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $color-black;
}

.chatbot-ai {
  a {
    cursor: default;
  }

  a[href] {
    cursor: pointer;
    color: $color-main;
  }

  .ant-float-btn-group {
    bottom: 30px;
  }

  .phone-ring {
    .ant-float-btn {
      position: relative;
      background-color: $color-white;
      height: 44px;
      border-radius: 50%;
      width: 44px;
      border: 1px solid #ececec;
      padding: 6px;
      outline: none;
      -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
      animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
      box-shadow: 0 6px 16px 0 #d1132a24, 0 3px 6px -4px #d1132a30,
        0 9px 28px 8px #d1132a1a;
      bottom: 0;
      right: 0;

      &::after,
      &::before {
        content: '';
        position: absolute;
        // top: 50%;
        // left: 50%;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: 2px solid rgba(209, 19, 42, 0.1019607843);
        /* Màu của sóng */
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        z-index: -1;
        /* Đặt phía sau FloatButton */
        animation: wave 1.5s infinite ease-out;
      }

      &::after {
        animation-delay: 0.75s;
        /* Lớp sóng thứ hai xuất hiện chậm hơn */
      }
    }
  }



  .ant-float-btn-body,
  .ant-float-btn-body:hover {
    background-color: transparent !important;
  }

  .ant-float-btn-content {
    overflow: inherit !important;
    padding: 0 !important;
  }

  .ant-float-btn-icon {
    width: 30px !important;

    img {
      height: 100%;
      width: 100%;
      display: block;
    }

    .anticon-close {
      height: 100%;

      svg {
        color: $color-main;
      }
    }
  }

  .ant-float-btn-group-wrap {
    width: 400px;
    right: 0;
    box-shadow: 0px 2px 12px 0px rgba(28, 26, 26, 0.16);
    border-radius: 12px;
    background-color: $color-white;

    @media screen and (max-width: 767px) {
      width: calc(100vw - 48px);
    }
  }

  .chat-box {
    width: 100%;
    overflow: hidden;
    position: relative;

    &-bg {
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: #18141485;
        top: 0;
        left: 0;
        z-index: 111;
        border-radius: 12px;
      }
    }

    &-header,
    &-footer,
    &-content {
      padding: 16px;

      @media screen and (max-width: 767px) {
        padding: 12px;
      }
    }

    &-content {
      height: 400px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #bdbdbd66;
      }

      &::-webkit-scrollbar-thumb {
        background-color: hsla(0, 2%, 42%, 0.451);
        border-radius: 16px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 16px;
        background: hsla(0, 0%, 87%, 0.29);
      }
    }

    &-header {
      border-bottom: 0.5px solid #bdbdbd66;

      button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        box-shadow: none;
        min-width: auto;
        height: 32px;
        width: 32px;

        &:hover {
          color: $color-black !important;
          background: rgba(0, 0, 0, 0.04) !important;
        }
      }

      &-row {
        flex-flow: nowrap;
      }
    }

    &-resetOption {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &-avatar {
      display: flex;
      gap: 8px;
      align-items: center;
      position: relative;

      h4 {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        font-weight: $weight-bold;
      }

      .ant-badge {
        position: absolute;
        right: -2.5rem;
        top: -7px;

        sup {
          color: #D1132A;
          font-weight: 500;
        }
      }
    }

    &-reply {
      background-color: $color-gray;
      padding: 16px;
      border-radius: 16px;
      background-image: url("./assets/icons/bgchat.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .chat-box-avatar {
        .img {
          padding: 8px;
          border: 1px solid $color-border;
          border-radius: 50%;
          background-color: $color-white;
          height: 40px;
          width: 40px;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      p {
        color: $color-black;
        margin-bottom: 10px;

        a {
          font-weight: $weight-bold;
        }

        ul,
        ol {
          padding-left: 20px;
          margin-bottom: 10px;
        }

        table {
          width: 100%;
          border-collapse: collapse;
          margin: 20px 0;
          display: block;
          overflow-x: auto;
          white-space: nowrap;
          background-color: transparent !important;

          &::-webkit-scrollbar-track {
            background-color: #f5ebeb;
          }

          &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $color-border;
          }

          th {
            background-color: #bdbdbd96;
            color: $color-black;
            padding: 12px;
            text-align: left;
            font-size: 12px;
            text-transform: uppercase;
            border: 1px solid #bdbdbd96;
          }

          td {
            border: 1px solid $color-border;
            padding: 10px;
          }
        }
      }

      .text {
        .btn-copy {
          padding: 4px;
          border-radius: 20px;
          border: 1px solid $color-white;
          background: $color-gray;
          position: absolute;
          right: 0;
          bottom: -25px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;

          &:hover {
            background: $color-white !important;
          }
        }
      }

      &:hover {
        cursor: context-menu;

        .text {
          .btn-copy {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .dot-pulse {
        position: relative;
        left: -9975px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $color-main;
        color: $color-main;
        box-shadow: 9999px 0 0 -5px;
        animation: dot-pulse 1.5s infinite linear;
        animation-delay: 0.25s;
      }

      .dot-pulse::before,
      .dot-pulse::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $color-main;
        color: $color-main;
      }

      .dot-pulse::before {
        box-shadow: 9984px 0 0 -5px;
        animation: dot-pulse-before 1.5s infinite linear;
        animation-delay: 0s;
      }

      .dot-pulse::after {
        box-shadow: 10014px 0 0 -5px;
        animation: dot-pulse-after 1.5s infinite linear;
        animation-delay: 0.5s;
      }
    }

    &-tootip {
      inset-inline-end: 85px;
      bottom: 42px;
      border-radius: 8px;

      background: $color-white;
      color: $color-black;
      display: block;

      pointer-events: none;
      position: fixed;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      padding: 9px;
      opacity: 0;
      z-index: 9999999;

      p {
        color: $color-black;
      }

      &.active {
        opacity: 1;
      }

      &::after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid $color-white 10px;
        right: -14px;
        content: "";
        height: 0;
        left: auto;
        position: absolute;
        width: 0;
        transform: rotate(-90deg);
        top: 16px;
      }

      &::before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    &-time {
      position: relative;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #ececec;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #ececec;
      }

      span {
        background-color: $color-white;
        position: relative;
        z-index: 11;
        padding: 0 12px;
      }
    }

    &-question {
      display: flex;
      width: fit-content;
      margin: 0 0 0 auto;
      align-items: center;
      gap: 8px;

      p {
        background-color: $color-gray;
        padding: 10px 12px;
        border-radius: 12px;
      }

      button {
        height: 28px;
        width: 28px;
        padding: 4px;
        border: 1px solid $color-white;
        background: $color-gray;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        cursor: context-menu;

        button {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-suggestive {
      margin-top: 8px;

      h5 {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 4px;
      }

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 8px;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          display: none;
        }

        button {
          min-width: auto !important;
          padding: 8px 12px !important;
          border: 0.5px solid $color-border;
          backdrop-filter: blur(8px);
          height: 36px !important;
          color: $color-black;
        }
      }
    }

    &-suggestive-questions {
      h5 {
        margin-bottom: 8px;
        font-size: 14px;
      }

      &.questions {
        ul {
          list-style: none;
          border-radius: 8px;

          li {
            &:not(:last-child) {
              margin-bottom: 8px;
            }

            button {
              background-color: $color-gray;
              padding: 10px 12px !important;
              width: 100%;
              justify-content: flex-start;
              height: auto;
              text-align: left;
              white-space: normal;

              &:hover {
                background-color: #f5f5f573 !important;
              }

              span {
                width: 100%;
              }
            }
          }
        }
      }

      &.suggestive {
        ul {
          display: flex;
          align-items: center;
          list-style: none;
          gap: 8px;
          flex-wrap: nowrap;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        button {
          background-color: $color-gray;
          padding: 8px !important;
          width: 100%;
          justify-content: flex-start;
          height: auto;
          text-align: left;
          white-space: normal;
          min-height: 62px !important;

          &:hover {
            background-color: #f5f5f573 !important;
          }
        }

        .swiper:hover {

          .swiper-button-prev,
          .swiper-button-next {
            opacity: 1;
            visibility: visible;
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          background: #bdbdbd;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          top: 25% !important;
          opacity: 0;
          visibility: hidden;
          margin-top: 0 !important;

          &::after {
            font-size: 14px;
            font-weight: 500;
            color: $color-white;
          }
        }
      }
    }

    &-eidting {
      background: $color-white;
      border-top: 0.5px solid rgba(60, 60, 67, 0.36);
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .close {
        display: flex;
        cursor: pointer;
      }
    }

    &-footer {
      box-shadow: 0px -2px 8px 0px rgba(234, 234, 234, 0.25);

      .ant-input-affix-wrapper {
        padding: 0 !important;
        border: none !important;
        height: auto;
        box-shadow: none !important;
        outline: none !important;

        &-disabled {
          background-color: transparent !important;
        }

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }

        &::before {
          display: none;
        }
      }
    }

    &-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      background: $color-white;
      padding: 16px;
      border-radius: 12px;
      text-align: center;
      z-index: 1111;

      .title {
        margin-bottom: 10px;

        .btn-close {
          position: absolute;
          top: 16px;
          right: 16px;
          padding: 0;
          width: 25px;
          height: 25px;
        }
      }

      .content {
        margin-bottom: 16px;
      }

      .footer {
        button {
          width: 100%;
          height: 36px;
          font-weight: $weight-medium;
          padding: 6px 12px;

          &.ant-btn-default {
            background-color: #fbf0f2;
            border: 1px solid transparent;
            color: $color-main;
          }

          &.ant-btn-primary {
            background-color: $color-main;
            border: 1px solid transparent;
            color: #fbf0f2;
          }
        }
      }
    }

    &-toast {
      position: absolute;
      bottom: 65px;
      width: 100%;
      left: 0;
      z-index: 1111;

      .toast {
        width: 85%;
        margin: 0 auto;
        background-color: #6c6868;
        border: 0.5px solid $color-border;
        padding: 6px 12px;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;

        .info {
          display: flex;
          align-items: center;
          gap: 8px;

          span {
            color: $color-white !important;
          }
        }

        button {
          width: 30px;
          height: auto;
          display: flex;
          justify-content: flex-end;
          padding: 0;
        }
      }
    }
  }
}

.ant-popover {
  .ant-menu {
    border-inline-end: none !important;
    width: 100%;

    li {
      padding: 4px;
      height: auto;
      margin: 0;

      line-height: 25px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &.ant-menu-item-selected {
        background-color: transparent !important;
        color: $color-black;
      }

      span,
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: $weight-regular;
      }
    }
  }

  .ant-popover-inner {
    min-width: 150px;
    padding: 12px !important;
  }
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }

  30% {
    box-shadow: 9984px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }

  30% {
    box-shadow: 9999px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }

  30% {
    box-shadow: 10014px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  // 0% {
  //   -webkit-transform: rotate(0) scale(1) skew(1deg);
  // }

  // 10% {
  //   -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  // }

  // 20% {
  //   -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  // }

  // 30% {
  //   -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  // }

  // 40% {
  //   -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  // }

  // 50% {
  //   -webkit-transform: rotate(0) scale(1) skew(1deg);
  // }

  // 100% {
  //   -webkit-transform: rotate(0) scale(1) skew(1deg);
  // }
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

@keyframes phonering-alo-circle-img-anim {
  // 0% {
  //   -webkit-transform: rotate(0) scale(1) skew(1deg);
  //   transform: rotate(0) scale(1) skew(1deg);
  // }

  // 10% {
  //   -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  //   transform: rotate(-25deg) scale(1) skew(1deg);
  // }

  // 20% {
  //   -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  //   transform: rotate(25deg) scale(1) skew(1deg);
  // }

  // 30% {
  //   -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  //   transform: rotate(-25deg) scale(1) skew(1deg);
  // }

  // 40% {
  //   -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  //   transform: rotate(25deg) scale(1) skew(1deg);
  // }

  // 50% {
  //   -webkit-transform: rotate(0) scale(1) skew(1deg);
  //   transform: rotate(0) scale(1) skew(1deg);
  // }

  // 100% {
  //   -webkit-transform: rotate(0) scale(1) skew(1deg);
  //   transform: rotate(0) scale(1) skew(1deg);
  // }
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

@keyframes wave {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}