@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #181414;
}

.chatbot-ai {
  .ant-float-btn-group {
    bottom: 30px;
  }

  .ant-float-btn {
    background-color: #fff;
    height: 44px;
    border-radius: 50%;
    width: 44px;
  }

  .ant-float-btn-body,
  .ant-float-btn-body:hover {
    background-color: transparent !important;
  }

  .ant-float-btn-content {
    overflow: inherit !important;
    padding: 0 !important;
  }

  .ant-float-btn-icon {
    height: 44px;
    width: 44px !important;

    img {
      height: 100%;
      width: 100%;
      display: block;
    }

    .anticon-close {
      height: 100%;

      svg {
        color: #D1132A;
      }
    }
  }

  .ant-float-btn-group-wrap {
    width: 400px;
    right: 0;
    box-shadow: 0px 2px 12px 0px rgba(28, 26, 26, 0.16);
    border-radius: 8px;
    background-color: #fff;

    @media screen and (max-width: 767px) {
      width: calc(100vw - 48px);
    }
  }

  .chat-box {
    width: 100%;
    overflow: hidden;

    &-header,
    &-footer,
    &-content {
      padding: 16px;

      @media screen and (max-width: 767px) {
        padding: 12px;
      }
    }

    &-content {
      max-height: 400px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }
    }

    &-header {
      border-bottom: 0.5px solid #bdbdbd66;

      button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        box-shadow: none;
        min-width: auto;
        height: 32px;
        width: 32px;

        &:hover {
          color: #181414 !important;
          background: rgba(0, 0, 0, 0.04) !important;
        }
      }

      &-row {
        flex-flow: nowrap;
      }
    }

    &-resetOption {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &-avatar {
      display: flex;
      gap: 8px;
      align-items: center;

      h4 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin: 0;
      }
    }

    &-reply {
      background-color: #F5F5F5;
      padding: 10px 12px;
      border-radius: 12px;

      .chat-box-avatar {
        .img {
          padding: 8px;
          border: 1px solid #bdbdbd;
          border-radius: 50%;
          background-color: #fff;
          height: 40px;
          width: 40px;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      p {
        color: #181414;
        margin: 0;
      }

      .text {
        .btn-copy {
          padding: 4px;
          border-radius: 20px;
          border: 1px solid #FFF;
          background: #F5F5F5;
          position: absolute;
          right: 0;
          bottom: -25px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }
      }

      &:hover {
        cursor: context-menu;

        .text {
          .btn-copy {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &-time {
      position: relative;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #ECECEC;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #ECECEC;
      }

      span {
        background-color: #fff;
        position: relative;
        z-index: 11;
        padding: 0 12px;
      }
    }

    &-question {
      display: flex;
      width: fit-content;
      margin: 0 0 0 auto;
      align-items: center;
      gap: 8px;

      p {
        background-color: #FBF0F2;
        padding: 10px 12px;
        border-radius: 12px;
      }

      button {
        height: 28px;
        width: 28px;
        padding: 4px;
        border: 1px solid #FFF;
        background: #F5F5F5;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        cursor: context-menu;

        button {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-suggestive {
      margin-top: 8px;

      h5 {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 4px;
      }

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 8px;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          display: none;
        }

        button {
          min-width: auto !important;
          padding: 8px 12px !important;
          border: .5px solid #bdbdbd;
          backdrop-filter: blur(8px);
          height: 36px !important;
          color: #181414;
        }
      }
    }

    &-suggestive-questions {
      padding-top: 8px;

      h5 {
        margin-bottom: 8px;
      }

      ul {
        list-style: none;
        border-radius: 8px;

        li {
          &:not(:last-child) {
            margin-bottom: 8px;
          }

          button {
            background-color: #fff;
            padding: 10px 12px;
            width: 100%;
            justify-content: flex-start;
            white-space: normal;
            height: auto;
            text-align: left;
          }
        }
      }

      &.questions {
        border-top: .5px dashed #bdbdbd;
      }

      &.suggestive {
        ul {
          li {
            button {
              border: .5px solid #bdbdbd;
              padding: 8px 12px;
            }
          }
        }

      }
    }


    &-footer {
      box-shadow: 0px -2px 8px 0px rgba(234, 234, 234, 0.25);

      .ant-input-affix-wrapper {
        padding: 0;
        border: none;
        outline: none;
        box-shadow: none;

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

.modal-chatbot {

  .ant-modal-title,
  .ant-modal-body {
    text-align: center;
  }

  .ant-modal-content {
    padding: 16px;
  }

  .ant-modal-footer {
    button {
      height: 36px;
      width: 100%;
      font-weight: 500;

      &.ant-btn-default {
        background-color: #fbf0f2;
        border: 1px solid transparent;
        color: #d1132a;

        &:hover {
          background-color: #ffeaec !important;
          border-color: #ffeaec !important;
          color: #d1132a !important;
        }
      }

      &.ant-btn-primary {
        background-color: #d1132a;
        border: 1px solid transparent;
        color: #fbf0f2;

        &:hover {
          background-color: #e12b41 !important;
        }
      }
    }
  }
}

.ant-popover {
  .ant-menu {
    border-inline-end: none !important;
    width: 100%;

    li {
      padding: 4px;
      height: auto;
      margin: 0;
      margin-bottom: 4px;
      line-height: 25px;
      width: 100%;

      span {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .ant-popover-inner {
    min-width: 150px;
  }
}