@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Global Color
$color-main: #d1132a;
$color-white: #ffffff;
$color-black: #181414;
$color-gray: #F5F5F5;
$color-border: #bdbdbd;

// Font Family
$font-family: "Nunito",
sans-serif;

// Font Weight
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $color-black;
}

:where(*) {
  font-family: $font-family !important;
}

a {
  cursor: default;
}

a[href] {
  cursor: pointer;
  color: $color-main;
  font-weight: $weight-bold;
}

.chatbot-ai {
  .ant-float-btn-group {
    bottom: 30px;
  }

  .ant-float-btn {
    background-color: $color-white;
    height: 44px;
    border-radius: 50%;
    width: 44px;
    border: 1px solid #ECECEC;
    padding: 6px;
  }

  .ant-float-btn-body,
  .ant-float-btn-body:hover {
    background-color: transparent !important;
  }

  .ant-float-btn-content {
    overflow: inherit !important;
    padding: 0 !important;
  }

  .ant-float-btn-icon {
    width: 30px !important;

    img {
      height: 100%;
      width: 100%;
      display: block;
    }

    .anticon-close {
      height: 100%;

      svg {
        color: $color-main;
      }
    }
  }

  .ant-float-btn-group-wrap {
    width: 400px;
    right: 0;
    box-shadow: 0px 2px 12px 0px rgba(28, 26, 26, 0.16);
    border-radius: 8px;
    background-color: $color-white;

    @media screen and (max-width: 767px) {
      width: calc(100vw - 48px);
    }
  }

  .chat-box {
    width: 100%;
    overflow: hidden;

    &-header,
    &-footer,
    &-content {
      padding: 16px;

      @media screen and (max-width: 767px) {
        padding: 12px;
      }
    }

    &-content {
      height: 400px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #bdbdbd66;
      }

      &::-webkit-scrollbar-thumb {
        background-color: hsla(0, 2%, 42%, .451);
        border-radius: 16px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 16px;
        background: hsla(0, 0%, 87%, .29);
      }
    }

    &-header {
      border-bottom: 0.5px solid #bdbdbd66;

      button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        box-shadow: none;
        min-width: auto;
        height: 32px;
        width: 32px;

        &:hover {
          color: $color-black !important;
          background: rgba(0, 0, 0, 0.04) !important;
        }
      }

      &-row {
        flex-flow: nowrap;
      }
    }

    &-resetOption {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &-avatar {
      display: flex;
      gap: 8px;
      align-items: center;

      h4 {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        font-weight: $weight-bold;
      }
    }

    &-reply {
      background-color: $color-gray;
      padding: 16px;
      border-radius: 16px;
      background-image: url('./assets/icons/bgchat.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .chat-box-avatar {
        .img {
          padding: 8px;
          border: 1px solid $color-border;
          border-radius: 50%;
          background-color: $color-white;
          height: 40px;
          width: 40px;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      p {
        color: $color-black;
        margin: 0;
      }

      .text {
        .btn-copy {
          padding: 4px;
          border-radius: 20px;
          border: 1px solid $color-white;
          background: $color-gray;
          position: absolute;
          right: 0;
          bottom: -25px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }
      }

      &:hover {
        cursor: context-menu;

        .text {
          .btn-copy {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .dot-pulse {
        position: relative;
        left: -9975px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $color-main;
        color: $color-main;
        box-shadow: 9999px 0 0 -5px;
        animation: dot-pulse 1.5s infinite linear;
        animation-delay: 0.25s;
      }

      .dot-pulse::before,
      .dot-pulse::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $color-main;
        color: $color-main;
      }

      .dot-pulse::before {
        box-shadow: 9984px 0 0 -5px;
        animation: dot-pulse-before 1.5s infinite linear;
        animation-delay: 0s;
      }

      .dot-pulse::after {
        box-shadow: 10014px 0 0 -5px;
        animation: dot-pulse-after 1.5s infinite linear;
        animation-delay: 0.5s;
      }

    }

    &-time {
      position: relative;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #ECECEC;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #ECECEC;
      }

      span {
        background-color: $color-white;
        position: relative;
        z-index: 11;
        padding: 0 12px;
      }
    }

    &-question {
      display: flex;
      width: fit-content;
      margin: 0 0 0 auto;
      align-items: center;
      gap: 8px;

      p {
        background-color: $color-gray;
        padding: 10px 12px;
        border-radius: 12px;
      }

      button {
        height: 28px;
        width: 28px;
        padding: 4px;
        border: 1px solid $color-white;
        background: $color-gray;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        cursor: context-menu;

        button {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-suggestive {
      margin-top: 8px;

      h5 {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 4px;
      }

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 8px;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          display: none;
        }

        button {
          min-width: auto !important;
          padding: 8px 12px !important;
          border: .5px solid $color-border;
          backdrop-filter: blur(8px);
          height: 36px !important;
          color: $color-black;


        }
      }
    }

    &-suggestive-questions {
      h5 {
        margin-bottom: 8px;
        font-size: 14px;
      }


      &.questions {
        ul {
          list-style: none;
          border-radius: 8px;

          li {
            &:not(:last-child) {
              margin-bottom: 8px;
            }

            button {
              background-color: $color-gray;
              padding: 10px 12px !important;
              width: 100%;
              justify-content: flex-start;
              height: auto;
              text-align: left;
              white-space: normal;

              &:hover {
                background-color: #f5f5f573 !important;
              }

              span {
                width: 100%;
              }
            }
          }
        }
      }

      &.suggestive {
        ul {
          display: flex;
          align-items: center;
          list-style: none;
          gap: 8px;
          flex-wrap: nowrap;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;

          &::-webkit-scrollbar {
            display: none;
          }


        }

        button {
          background-color: $color-gray;
          padding: 8px !important;
          width: 100%;
          justify-content: flex-start;
          height: auto;
          text-align: left;
          white-space: normal;
          min-height: 62px !important;

          &:hover {
            background-color: #f5f5f573 !important;
          }
        }

        .swiper:hover {

          .swiper-button-prev,
          .swiper-button-next {
            opacity: 1;
            visibility: visible;
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          background: #bdbdbd;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          top: 25% !important;
          opacity: 0;
          visibility: hidden;
          margin-top: 0 !important;

          &::after {
            font-size: 14px;
            font-weight: 500;
            color: $color-white;
          }
        }
      }

    }

    &-eidting {
      background: $color-white;
      border-top: .5px solid rgba(60, 60, 67, 0.36);
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .close {
        display: flex;
        cursor: pointer;
      }
    }

    &-footer {
      box-shadow: 0px -2px 8px 0px rgba(234, 234, 234, 0.25);

      .ant-input-affix-wrapper {
        padding: 0 !important;
        border: none !important;
        height: auto;
        box-shadow: none !important;
        outline: none !important;

        &-disabled {
          background-color: transparent !important;
        }

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

.modal-chatbot {

  .ant-modal-title,
  .ant-modal-body {
    text-align: center;
  }

  .ant-modal-content {
    padding: 16px;
  }

  .ant-modal-footer {
    button {
      height: 36px;
      width: 100%;
      font-weight: 500;

      &.ant-btn-default {
        background-color: #fbf0f2;
        border: 1px solid transparent;
        color: $color-main;

        &:hover {
          background-color: #ffeaec !important;
          border-color: #ffeaec !important;
          color: $color-main !important;
        }
      }

      &.ant-btn-primary {
        background-color: $color-main;
        border: 1px solid transparent;
        color: #fbf0f2;

        &:hover {
          background-color: #e12b41 !important;
        }
      }
    }
  }
}

.ant-popover {
  .ant-menu {
    border-inline-end: none !important;
    width: 100%;

    li {
      padding: 4px;
      height: auto;
      margin: 0;

      line-height: 25px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &.ant-menu-item-selected {
        background-color: rgba(0, 0, 0, 0.06) !important;
        color: $color-black;
      }

      span,
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: $weight-regular;
      }
    }
  }

  .ant-popover-inner {
    min-width: 150px;
  }
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }

  30% {
    box-shadow: 9984px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }

  30% {
    box-shadow: 9999px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }

  30% {
    box-shadow: 10014px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}